.App {
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60vw;
  height: 90vh;
  color: black;
  background-color: rgb(196, 196, 196);
  filter: drop-shadow(0px 4px 40px rgba(255, 255, 255, 0.393));
  user-select: none;
  transition: all, 1s;
  border-radius: 2rem;
  padding: 3rem;
  box-sizing: border-box;
}

.left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.heading {
  font-size: 2rem;
  align-items: center;
  padding: 1rem;
}

.head {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.obj {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.box {
  display: flex;
}

.line {
  background-color: black;
}

.myobj {
  text-indent: 4rem;
  text-align: justify;
  line-height: 1.5rem;
}

.contact-item {
  margin-left: 1rem;
  display: flex;
  gap: 1rem;
}

.skills {
  gap: 1rem;
}

.edu {

}

.educont {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}


@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -3;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -3;
  backdrop-filter: blur(12vmax);
}

/* .container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5rem rgb(255, 255, 255);
} */

/* .image{
  height: 10rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: 0 -1rem;
  border-radius: 20%;
} */
